body{
    padding: 0vh 5vh 5vh 5vh ;
}

.image-card{
    display: flex;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 3px;
}

.image-text{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 20px;
}

.image img {
  width: 180px;
  height: 180px;
}

.image{
    margin: 20px;
}

.title{
    text-align: center;
}

.description{
    text-align: center;
}